.page404-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .page404-image{
    max-width:900px;
    width:90%;
  }